# Assignment-2

# List

In [3]:
expenses = [2200, 2350, 2600, 2130, 2190]

In [5]:
extra_feb = expenses[1] - expenses[0]
print(f"Extra dollars spent in February compared to January: {extra_feb}")

Extra dollars spent in February compared to January: 150

In [7]:
total_first_quarter = sum(expenses[:3])
print(f"Total expense in the first quarter: {total_first_quarter}")

Total expense in the first quarter: 7150

In [9]:
is_2000_spent = 2000 in expenses
print(f"Spent exactly 2000 dollars in any month: {is_2000_spent}")

Spent exactly 2000 dollars in any month: False

In [11]:
expenses.append(1980)
print(f"Updated expenses after adding June: {expenses}")

Updated expenses after adding June: [2200, 2350, 2600, 2130, 2190, 1980]

In [13]:
expenses[3] -= 200
print(f"Updated expenses after refund in April: {expenses}")

Updated expenses after refund in April: [2200, 2350, 2600, 1930, 2190, 1980]

In [15]:
[2200, 2350, 2600, 1930, 2190, 1980]

[2200, 2350, 2600, 1930, 2190, 1980]

In [17]:
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [19]:
length = len(heros)
print(f"Length of the list: {length}")

Length of the list: 5

In [21]:
heros.append('black panther')
print(f"List after adding 'black panther': {heros}")

List after adding 'black panther': ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [23]:
heros.remove('black panther')
heros.insert(3, 'black panther')
print(f"List after adding 'black panther' after 'hulk': {heros}")

List after adding 'black panther' after 'hulk': ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [25]:
heros[1:3] = ['doctor strange']
print(f"List after replacing 'thor' and 'hulk' with 'doctor strange': {heros}")

List after replacing 'thor' and 'hulk' with 'doctor strange': ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [27]:
heros.sort()
print(f"List in alphabetical order: {heros}")

List in alphabetical order: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [29]:
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']